<h2>All Superpowers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <h3><%= link_to power.name.titlecase, power %></h3>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>
